<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-succes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `information-succes`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationSucces extends Polymer.Element {
      static get is() { return 'information-succes'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'information-succes'
          }
        };
      }
    }

    window.customElements.define(InformationSucces.is, InformationSucces);
  </script>
</dom-module>
